<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Serving Static Files in Nodejs</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Welcome to Demo API</h1>
            <img src="../images/petroleumhouse.jpg" alt="Petroleum House">
            <p>This is a demo movies API built using Express JS</p>
            <p>A Simple example of how to serve static files in Nodejs</p>
        </div>
    </div>
</body>
</html>